div {
    border: 1px solid rgb(117, 67, 67);
  }
  
  img {
    max-width: 150px;
  }
  
  body{
     background-color: azure;
    /* background: linear-gradient( #fff, #ccc ); */
    /* transition: all 0.45s; */
  
    /* background-image: linear-gradient(to bottom, red, #f06d06); */ */
  }
  